*{
	margin: 0;
	padding: 0;
	font-family: georgia;
	text-align: center;
	background-color: #ca6776;
}

h1 { 
	color: black;
	padding: 20px;
}

h3 {
	color: #821626;
	padding: 5px;
}

ul	{
	color: white;
}

footer {
	bottom: 0;
	left: 0;
	right:0;
}

footer a {
	background-color: #ca6776;
	margin-top: 20px;
	margin-bottom: 35px;
	display: inline-block;
}

a:link {
  color: #821626;
  text-decoration: none;
}

a:visited {
  color: #821626;
  text-decoration: none;
}

a:hover {
  color: white;
}

@media only screen and (max-width: 600px){
	body{background-color: #74ca7b;
	}
}